  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Kumbh-Sans, Sans-serif;
  background-image: linear-gradient( hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

header {
font-size: 3rem;
margin: 2rem 0rem;
}

section {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3rem;
  margin: 2rem 0rem;
}

.faq {
  max-width: 700px;
  margin-top: 1rem;
  padding-bottom: 1rem ;
  border-bottom: 2px solid hsl(240, 5%, 91%);
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h1 {
  font-size: .85rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}

/*Styling an accordion*/
.faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq.active .arrow {
  transform: rotate(180deg);
}

.arrow {
  transition: transform .5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px)
  }

}

/*Footer*/
footer {
  color: black;
  text-align: center;
  position: relative;
  margin: 3em;
  font-size: 1em;
}